@model IEnumerable<ANGEL_Store.Models.CardPro>
@using ANGEL_Store.Models;

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Style.css">
<style>
    .color-code{
        color: #2A2F4F;
    }
    footer{
        display:none;
    }
</style>

<div class="TitleOfCard">

    <div class="cardTilte">
        <h1 class="color-code">Shopping Card</h1>
    </div>
    <div class="costOfCard">
        <h2 style="display: flex; gap: 10px;">Order Total:<b>@ViewBag.totalPrice</b>  </h2>
        <div style="display: flex; gap: 10px;">
            <div>
                <p>Price Including Taxes %14</p>
            </div>
            <div class="text-center">
                
                <a asp-action="OrderSummary"><h5>Proceed To Buy</h5></a>
            </div>
        </div>
    </div>

</div>

@foreach(var item in Model) {
    <main class="cardBody container ">
        <div class="cardframe">
            <div class="row">
                <div class="col-3">
                    <img src="~/itemImages/@item.ItemImage">
                </div>
                <div class="col-5 col-xs-12">
                    <div class="cardTitle">
                        <h1 class="color-code">@item.ItemName</h1>
                    </div>
                    <div class="cardDet">

                        <h6 class ="color-code">Color: @item.SelectedColor</h6>
                        <h6 class="color-code">Size: @item.SelectedSize</h6>
                        <h6 class="color-code">QTY: @item.QTY</h6>

                    </div>
                </div>
                <div class="col-3 part-3">
                    <div class="text-end">
                        <h3 class="color-code" style="padding-bottom: 56px;"> EGY  @item.ItemPrice.ToString("0.##") </h3>

                        <div class="action-card">
                            <a asp-controller="CardPros" asp-action="Delete" asp-route-id="@item.CardId" style="color: red;"><i class="fa-solid fa-trash" style="color: #ff0000; margin-right: 5px;"></i>Delete</a>
                        </div>

                    </div>
                    <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Modal body text goes here.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
}
